.nosotros {
  padding: 20px 60px;
  color: #eee;

}

#nosotros {
  scroll-margin-top: -150px; /* Ajusta este valor según el alto de tu header */
  margin-bottom: -300px;
}

.starry-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    width: 100%;
  }
  
  .nosotros-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .left-side, .right-side {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  
  /* Estilos para el logo de aniversario */
  .anniversary-logo {
    display: flex;
    justify-content: center;
  }
  
  .circle-image {
    background-image: url("../images/aniversario.png");
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 30px rgba(240, 180, 41, 0.2);
  }
  

  
  .section-description {
    font-size: 1.4rem;
    line-height: 1.7;
    max-width: 600px;
  }
  
  /* Responsive */
  @media (max-width: 992px) {
    .nosotros-content {
      flex-direction: column;
      text-align: center;
    }
    
    .section-description {
      margin: 0 auto;
    }

    .section-title{
        margin: 0 auto;
    }
  }
  
  @media (max-width: 576px) {
    .circle-image {
      width: 250px;
      height: 250px;
    }
    
    .anniversary-text {
      font-size: 3rem;
    }
    
    .anniversary-subtext {
      font-size: 1.5rem;
    }
    
    .section-title {
        font-size: 2.5rem;
        text-align: center;
      }
    
    .section-description {
      font-size: 1.2rem;
    }
    
    .starry-background {
      padding: 60px 0;
    }
  }